<section class="m-3">
  <div class="mb-3">
    <h3>Setup Profile</h3>
  </div>

  <div class="row mb-3">
    <label class="col">Enter username</label>
    <input type="text" [(ngModel)]="user.userName" class="col form-control">
  </div>

  <div class="row mb-3">
    <label class="col">Choose chat color</label>
    <input type="color" [(ngModel)]="user.chatColor" class="col form-control">
  </div>

  <div class="row mb-3">
    <label class="col">Enter location</label>
    <input type="text" [(ngModel)]="user.location" class="col form-control">
  </div>

  <div class="row">
    <button (click)="processUserInfo()" class="btn btn-primary">Join room</button>
  </div>
</section>